Assets/Rivet/Editor/Native/*.dll filter=lfs diff=lfs merge=lfs -text
Assets/Rivet/Editor/Native/*.so filter=lfs diff=lfs merge=lfs -text
Assets/Rivet/Editor/Native/*.dylib filter=lfs diff=lfs merge=lfs -text